<nav class="navbar navbar-expand-md rounded-pill mx-1 my-3 sticky-top shadow animate__animated animate__fadeInDown">
    <!--navbar will be expanded only after md screen size & p-3 means 0.25*3 = 1.25rem-->
    <div class="container-fluid nav-div">
        <a class="navbar-brand me-1 visibleOnSmallBrand d-none" href="/listings"><i
                class="fa-regular fa-compass fs-5"></i></a>
        <form class="d-flex visibleOnSmall" href="/listings">
            <input class="form-control rounded-start-5" id="searchInp" type="search" placeholder="Search country"
                name="searchCountry">
            <button class="btn new-btn border rounded-end-5" id="searchBtn" type="submit"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <button class="navbar-toggler hideCollapse" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link hideOnSmall explore" href="/listings"><button
                        class="exploreButton animate__animated animate__fadeInLeft">
                        <svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z">
                            </path>
                        </svg>
                        Explore
                    </button></a>
            </div>
            <div class="ms-auto">
                <form class="d-flex" href="/listings">
                    <input class="form-control me-2 rounded-start-5 shadow-sm" id="searchInp" type="search"
                        placeholder="Search country" name="searchCountry">
                    <button class="btn new-btn border rounded-end-5 shadow-sm" id="searchBtn" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="navbar-nav ms-auto d-flex align-items-center justify-content-between">
                <a class="nav-link" href="/listings/new"><button
                        class="learn-more animate__animated animate__fadeInRight">
                        <span class="circle shadow-sm" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                        <span class="button-text rounded-end-4 shadow-sm">Add new listing</span>
                    </button></a>
            </div>
        </div>
        <%if(currUser){%>
            <a class="nav-link" href="/logout"><i
                    class="fa-solid fa-arrow-right-from-bracket fs-5 loginOutOnSmall animate__animated animate__fadeInRight"></i></a>
            <% } else{%>
                <a class="nav-link" href="/login"><i
                        class="fa-solid fa-arrow-right-to-bracket fs-5 loginOutOnSmall ms-3 me-2 animate__animated animate__fadeInRight"></i></a>
                <a class="nav-link" href="/signup"><i
                        class="fa-solid fa-user-plus fs-5 loginOutOnSmall animate__animated animate__fadeInRight"></i></a>
                <%}%>
    </div>
</nav>