<% layout("/layouts/boilerplate")-%>

    <body>
        <div class="overlay-background"></div>
        <div class="row gy-5 form-body">
            <div class="offset-4 col-4">
                <form method="post" action="/login" class="new-form customShadow py-4 px-4 needs-validation" novalidate>
                    <!--novalidate written so that default validation of html is not applied-->
                    <h4 class="mb-3 text-center">login</h4>
                    <hr>
                    <div class="mb-2">
                        <label for="username" class="form-label">username</label>
                        <input type="text" name="username" id="username"
                            class="form-control rounded-4 shadow-sm py-2 cStyle" placeholder="Enter username" required>
                    </div>
                    <br>
                    <div class="mb-2">
                        <label for="password" class="form-label">password</label>
                        <input type="password" name="password" id="password"
                            class="form-control rounded-4 shadow-sm py-2 cStyle" placeholder="password" required>
                    </div>
                    <br>
                    <button class="btn btn-outline-dark mb-4 shadow-lg new-btn rounded-4 pl-3 offset-5">login</button>
                </form>
            </div>
        </div>
    </body>